<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gaming & Movie Hub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <a th:href="@{/}" class="logo">🎮 Game&MovieHub</a>
        <ul class="nav-links">
            <li><a th:href="@{/2-filmes}">Filmes</a></li>
            <li><a th:href="@{/3-jogos}">Jogos</a></li>
            <li><a th:href="@{/4-salvos}">Filmes & Jogos Salvos</a></li>
            <li><a th:href="@{/5-favoritos}">Favoritados</a></li>
        </ul>
    </nav>

     <main>
        <section class="manual-game-form">
            <h2>Bem-vindo à aba de jogos!</h2>
            <p>Adicione as informações do seu jogo aqui para salvá-lo.</p>
            <form th:action="@{/jogos/manual}" method="post" th:object="${jogo}">

                <label for="nome">Nome do jogo:</label>
                <input type="text" id="nome" th:field="*{nomejogo}" required>

                <label for="genero">Gênero:</label>
                <input type="text" id="genero" th:field="*{genero}" required>

                <label for="dataLancamento">Data de lançamento:</label>
                <input type="date" id="dataLancamento" th:field="*{dt_lancamento}" required>

                <label for="descricao">Descrição:</label>
                <textarea id="descricao" rows="4" th:field="*{descjogo}" required></textarea>

                <button type="submit">Salvar Jogo</button>
            </form>
        </section>

    </main>


</body>
</html>
