<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Favoritos - Gaming & Movie Hub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navbar">
        <a th:href="@{/}" class="logo">🎮 Game&MovieHub</a>
        <ul class="nav-links">
            <li><a th:href="@{/2-filmes}">Filmes</a></li>
            <li><a th:href="@{/3-jogos}">Jogos</a></li>
            <li><a th:href="@{/4-salvos}">Filmes & Jogos Salvos</a></li>
            <li><a th:href="@{/5-favoritos}">Favoritados</a></li>
        </ul>
    </nav>
    <main>
        <h1>Filmes Favoritos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome do Filme</th>
                    <th>Gênero</th>
                    <th>Data de Lançamento</th>
                    <th>Descrição</th>
                    <th>Desfavoritar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="filme: ${filmesFavoritos}">
                    <td th:text="${filme.nome}"></td>
                    <td th:text="${filme.genero}"></td>
                    <td th:text="${#dates.format(filme.dt_lancamento, 'dd/MM/yyyy')}"></td>
                    <td th:text="${filme.descricao}"></td>
                    <td>
                        <form th:action="@{'/desfavoritar/' + ${filme.id}}" method="post">
                            <input type="submit" value="Desfavoritar">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <h1>Jogos Favoritos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome do Jogo</th>
                    <th>Gênero</th>
                    <th>Data de Lançamento</th>
                    <th>Descrição</th>
                    <th>Desfavoritar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="jogo: ${jogosFavoritos}">
                    <td th:text="${jogo.nome}"></td>
                    <td th:text="${jogo.genero}"></td>
                    <td th:text="${#dates.format(jogo.dt_lancamento, 'dd/MM/yyyy')}"></td>
                    <td th:text="${jogo.descricao}"></td>
                    <td>
                        <form th:action="@{'/desfavoritar/' + ${jogo.id}}" method="post">
                            <input type="submit" value="Desfavoritar">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/">Voltar para a Página Principal</a>
    </main>
</body>
</html>