<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming & Movie Hub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/login.js}" defer></script>
</head>
<body>
    <nav class="navbar">
        <a th:href="@{/}" class="logo">🎮 Game&MovieHub</a>
        <ul class="nav-links">
            <li><a th:href="@{/2-filmes}">Filmes</a></li>
            <li><a th:href="@{/3-jogos}">Jogos</a></li>
            <li><a th:href="@{/4-salvos}">Filmes & Jogos Salvos</a></li>
            <li><a th:href="@{/5-favoritos}">Favoritados</a></li>
        </ul>
    </nav>

    <header class="hero">
        <h1>Bem-vindo ao seu hub de entretenimento!</h1>
        <p>A Gaming & Movie Hub é uma aplicação web desenvolvida com Spring Boot, Thymeleaf e PostgreSQL, com o objetivo de permitir que usuários consultem, salvem e favoritem jogos e filmes. A plataforma proporciona uma experiência organizada e personalizada, onde o usuário pode manter o controle dos conteúdos que deseja ver ou que mais gosta.</p>
    </header>
</body>
</html>